<mat-expansion-panel [disabled]="!inputMembers.length">
  <mat-expansion-panel-header>
    <mat-panel-title class="responsive-text">
      {{ input.name }}
    </mat-panel-title>
    <mat-panel-description>
      {{ description }}
    </mat-panel-description>
  </mat-expansion-panel-header>
  <table mat-table [dataSource]="inputMembers">
    @for(column of columnsToDisplay; track column; let idx = $index) {
    <ng-container [matColumnDef]="column">
      <th class="responsive-text" mat-header-cell *matHeaderCellDef>
        {{ titlesToDisplay[idx] }}
      </th>
      <td class="responsive-text-sm" mat-cell *matCellDef="let member">
        {{
          column === "name"
            ? member.firstName + " " + member.lastName
            : member[column]
        }}
      </td>
    </ng-container>
    }
    <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
    <tr mat-row *matRowDef="let myRowData; columns: columnsToDisplay"></tr>
  </table>
  @if(actionable) {
  <mat-action-row>
    <button mat-button color="primary" (click)="editInput(true, input)">
      Upravit
    </button>
    <button mat-button color="warn" (click)="deleteInput()">Smazat</button>
  </mat-action-row>
  }
</mat-expansion-panel>
