<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
  >
    <mat-toolbar>Přehled</mat-toolbar>
    <mat-nav-list>
      <a
        class="toolbar-link"
        mat-list-item
        routerLink="/"
        routerLinkActive="active-link"
        [routerLinkActiveOptions]="{ exact: true }"
        (click)="drawer.close()"
        >Členové</a
      >
      <a
        class="toolbar-link"
        mat-list-item
        routerLink="/týmy"
        routerLinkActive="active-link"
        (click)="drawer.close()"
        >Týmy</a
      >
      <a
        class="toolbar-link"
        mat-list-item
        routerLink="/soupisky"
        routerLinkActive="active-link"
        (click)="drawer.close()"
        >Soupisky</a
      >
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      @if (isHandset$ | async) {
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
      >
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      }
      <span class="responsive-text">
        {{ navigationTitle | navigationTitle }}</span
      >
      <span class="flex-spacer"></span>
      @if (!(isHandset$ | async)) {
      <a
        class="toolbar-link"
        mat-button
        routerLink="/"
        routerLinkActive="active-link"
        [routerLinkActiveOptions]="{ exact: true }"
        >Členové</a
      >
      <a
        class="toolbar-link"
        mat-button
        routerLink="/týmy"
        routerLinkActive="active-link"
        >Týmy</a
      >
      <a
        class="toolbar-link"
        mat-button
        routerLink="/soupisky"
        routerLinkActive="active-link"
        >Soupisky</a
      >
      }
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
