@if (!error) { @defer (when !loading) { @if (members.length > 0) {
<app-search-bar (searchValueChange)="onSearch($event)"></app-search-bar>
@if (filteredMembers.length > 0) {

<table mat-table [dataSource]="filteredMembers">
  @for(column of columnsToDisplay; track column; let idx = $index) {
  <ng-container [matColumnDef]="column">
    <th class="responsive-text" mat-header-cell *matHeaderCellDef>
      {{ titlesToDisplay[idx] }}
    </th>
    <td class="responsive-text-sm" mat-cell *matCellDef="let member">
      @if (column === "name") {
      {{ member.firstName + " " + member.lastName }}
      } @else if (column === "dob") {
      {{ member.dob | dateOfBirth }}
      } @else if (column === "age") {
      {{ member.dob | age }}
      } @else {
      <button
        [style]="{ transform: 'scale(0.75)' }"
        mat-mini-fab
        color="primary"
        (click)="openDialog(member, true)"
      >
        <mat-icon>edit</mat-icon>
      </button>
      <button
        [style]="{ transform: 'scale(0.75)' }"
        mat-mini-fab
        color="warn"
        (click)="onDelete(member.id)"
      >
        <mat-icon>delete</mat-icon>
      </button>
      }
    </td>
  </ng-container>
  }
  <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
  <tr mat-row *matRowDef="let myRowData; columns: columnsToDisplay"></tr>
</table>
} @else {
<app-message-displayer
  message="Vyhledávání neodpovídají žádní členové..."
></app-message-displayer>
} } @else {
<app-message-displayer
  message="Zatím nemáte žádné členy..."
></app-message-displayer>
}
<app-add-dbentry-button
  [openDialog]="openDialog"
  entry="člena"
></app-add-dbentry-button>
} @placeholder (minimum 500ms) {
<app-loading-spinner></app-loading-spinner>
} } @else {
<app-message-displayer
  message="Ups, data se nepodařilo načíst..."
></app-message-displayer>
}
