@if (!error) { @defer (when !loading) {
<table mat-table [dataSource]="members">
  <ng-container matColumnDef="name">
    <th class="responsive-text" mat-header-cell *matHeaderCellDef>Jméno</th>
    <td class="responsive-text" mat-cell *matCellDef="let member">
      {{ member.firstName + " " + member.lastName }}
    </td>
  </ng-container>
  <ng-container matColumnDef="dob">
    <th class="responsive-text" mat-header-cell *matHeaderCellDef>
      Datum narození
    </th>
    <td class="responsive-text" mat-cell *matCellDef="let member">
      {{ member.dob | dateOfBirth }}
    </td>
  </ng-container>
  <ng-container matColumnDef="age">
    <th class="responsive-text" mat-header-cell *matHeaderCellDef>Věk</th>
    <td class="responsive-text" mat-cell *matCellDef="let member">
      {{ member.dob | age }}
    </td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
  <tr mat-row *matRowDef="let myRowData; columns: columnsToDisplay"></tr>
</table>
} @placeholder (minimum 500ms) {
<app-loading-spinner></app-loading-spinner>
} } @else {
<app-error></app-error>
}
