<h2 mat-dialog-title>
  {{ data.editMode ? "Úprava údajů člena" : "Nový člen" }}
</h2>
<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <mat-dialog-content>
    <mat-form-field appearance="fill">
      <mat-label>Křestní jméno</mat-label>
      <input matInput formControlName="firstName" placeholder="Křestní jméno" />
      <mat-hint>Toto pole je povinné</mat-hint>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Příjmení</mat-label>
      <input matInput formControlName="lastName" placeholder="Příjmení" />
      <mat-hint>Toto pole je povinné</mat-hint>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Datum narození</mat-label>
      <input
        matInput
        [matDatepicker]="picker"
        formControlName="dob"
        placeholder="MM/DD/YYYY"
      />
      <mat-hint>Toto pole je povinné</mat-hint>
      <mat-datepicker-toggle
        matIconSuffix
        [for]="picker"
      ></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Tým</mat-label>
      <mat-select formControlName="selectedTeam">
        @for (team of data.teams; track team.id) {
        <mat-option [value]="team.id">{{ team.name }}</mat-option>
        }
      </mat-select>
    </mat-form-field>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button mat-button mat-dialog-close [disabled]="!form.valid" type="submit">
      OK
    </button>
    <button mat-button mat-dialog-close>Zrušit</button>
  </mat-dialog-actions>
</form>
