<table mat-table [dataSource]="inputMembers">
  @for(column of columnsToDisplay; track column; let idx = $index) {
  <ng-container [matColumnDef]="column">
    <th class="responsive-text" mat-header-cell *matHeaderCellDef>
      {{ titlesToDisplay[idx] }}
    </th>
    <td class="responsive-text-sm" mat-cell *matCellDef="let member">
      {{
        column === "name"
          ? member.firstName + " " + member.lastName
          : member[column]
      }}
    </td>
  </ng-container>
  }
  <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
  <tr mat-row *matRowDef="let myRowData; columns: columnsToDisplay"></tr>
</table>
