<mat-expansion-panel [disabled]="!teamMembers.length">
  <mat-expansion-panel-header [expandedHeight]="'auto'">
    <mat-panel-title class="responsive-text">
      {{ team.name }}
    </mat-panel-title>
    <mat-panel-description>
      {{ teamMembers.length | outputTeamMembersCount : team.name }}
    </mat-panel-description>
  </mat-expansion-panel-header>
  <mat-list>
    @for (member of teamMembers; track member.id) {
    <mat-list-item>
      <span class="responsive-text-sm">
        {{ member.firstName + " " + member.lastName }}
      </span>
    </mat-list-item>
    <mat-divider></mat-divider>
    }
  </mat-list>
</mat-expansion-panel>
